@use 'variables' as *;
@use 'font';
@use 'utils';
@import 'convention';
@import 'card';

body {
  margin: 0;
}
.main__content {
  display: grid;
  grid-template-columns: 1fr;
  // overflow: hidden;
}

.main__content__first {
  text-align: center;
  position: relative;
  @include utils.setBackGroundImage(80vh, 'image-header');

  @import 'nav';
  & > h1:last-child {
    margin-top: 2em;
    font-family: font.$font-family-fraunces;
    color: $white;
    font-size: 2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 900;
  }
  &::after {
    content: '';
    background-image: url(/images/icon-arrow-down.svg);
    position: absolute;
    background-repeat: no-repeat;

    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 114px;
  }
}

.image-egg {
  @include utils.small-image('image-transform');
}
.image-glass {
  @include utils.small-image('image-stand-out');
}

.client_section {
  display: flex;
  flex-direction: column;
  text-align: center;

  & > h1 {
    font-family: font.$font-family-fraunces;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $dark-grayish-blue;
    font-weight: 900;
    padding: 4em 0;
  }
}

.image_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 25vh);
}

.footer {
  background-color: $dark-m-cyan-footer;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  & > h1 {
    font-size: 2rem;
    font-family: font.$font-family-fraunces;
    font-weight: 900;
    color: $dark-d-text;
  }
  & > div:first-of-type {
    color: $dark-d-text;
    font-family: font.$font-family-barlow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: stretch;
  }
  & > div:last-of-type > * {
    color: $dark-d-text;
    padding: 0.5em;
    cursor: pointer;
  }
}

@media only screen and (min-width: 600px) {
  .main__content {
    grid-template-areas:
      'm m'
      'small_card_yellow image_egg'
      'image_glass small_card_pink'
      'bg_apple bg_orange'
      'client_section client_section'
      'bg bg'
      'f f';
    grid-template-columns: 1fr 1fr;
  }
  .main__content__first {
    grid-area: m;
    // grid-column: span 1;
  }
  .small-card > div[class*='yellow'] {
    grid-area: small_card_yellow;
  }
  .image-egg {
    grid-area: image_egg;
    height: 60vh;
  }

  .small-card > div[class*='pink'] {
    grid-area: small_card_pink;
  }
  .image-glass {
    grid-area: image_glass;
    height: 60vh;
  }
  .bg-apple {
    grid-area: bg_apple;
    height: 60vh !important;
  }
  .bg-orange {
    grid-area: bg_orange;
    height: 60vh !important;
  }
  .client_section {
    grid-area: client_section;
    flex-flow: row wrap;
    justify-content: center;
    padding: 4em 6em;
    & > h1 {
      flex: 1 0 100%;
      font-size: 1.4rem;
    }
    & > *:not(:first-child) {
      flex: 1 0 0;
    }
  }
  .image_section {
    grid-area: bg;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .footer {
    grid-area: f;
  }
}
